@font-face {
  font-family: "Kongsak-Bold";
  src: url(../../assets/fonts/ChakraPetch-Bold.ttf) format("opentype");
}

@font-face {
  font-family: "Kongsak-Regular";
  src: url(../../assets/fonts/ChakraPetch-Regular.ttf) format("opentype");
}

